modules = ["nodejs-24", "postgresql-16"]

  [[artifacts]]
  id = "artifacts/jctm-platform"

  [[artifacts]]
  id = "artifacts/api-server"

  [[artifacts]]
  id = "artifacts/mockup-sandbox"

  [deployment]
  router = "application"
  deploymentTarget = "autoscale"

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

  [workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 pnpm --filter @workspace/jctm-platform run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

  [agent]
  stack = "PNPM_WORKSPACE"
expertMode = true

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

  [nix]
  channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNFsWPaSN3hKiDjWa1RrYaWFoaiuYdQuDq8SueByYlaSuGcTr12lKzDJaoL584jXRptTLbxBSrs_vPsY9lMpSY8"
VAPID_PRIVATE_KEY = "da55-4msNNm4kgmaAOhh-hj-rwbH8nGsrbg8tulBS6I"
GALLERY_ADMIN_PASSPHRASE_HASH = "b41435be8ca658ffec712066899af52e:03a94677d8d942c3d493500cc5ff853e390a254b98caaf5d91c1896cc71fc946c8fe0ca440e6c295b396e2add8e72b6ded9eb2b61cc62d3621f3ffbf901e17aa"
VITE_ADSENSE_SLOT_HOME_HERO = "7433409715"
VITE_ADSENSE_SLOT_HOME_MID = "6447631104"
VITE_ADSENSE_SLOT_SERMON_FEED = "2094061938"
VITE_ADSENSE_SLOT_SERMON_SIDEBAR = "2609067251"
VITE_ADSENSE_SLOT_LIVE_BELOW_PLAYER = "2069402391"
VITE_ADSENSE_ENABLE = "true"
GCS_PROJECT_ID = "jctm-492511"
GCS_CLIENT_EMAIL = "jeffemuodafe124-gmail-com-633@jctm-492511.iam.gserviceaccount.com"
DEFAULT_OBJECT_STORAGE_BUCKET_ID = "jctm-uploads"
PUBLIC_OBJECT_SEARCH_PATHS = "/jctm-uploads/public"
PRIVATE_OBJECT_DIR = "/jctm-uploads/.private"
OBJECT_STORAGE_DRIVER = "database"
  