modules = ["nodejs-24", "postgresql-16"]

  [[artifacts]]
  id = "artifacts/jctm-platform"

  [[artifacts]]
  id = "artifacts/api-server"

  [[artifacts]]
  id = "artifacts/mockup-sandbox"

  [deployment]
  router = "application"
  deploymentTarget = "autoscale"

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

  [workflows]

  [agent]
  stack = "PNPM_WORKSPACE"
expertMode = true

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

  [nix]
  channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNFsWPaSN3hKiDjWa1RrYaWFoaiuYdQuDq8SueByYlaSuGcTr12lKzDJaoL584jXRptTLbxBSrs_vPsY9lMpSY8"
VAPID_PRIVATE_KEY = "da55-4msNNm4kgmaAOhh-hj-rwbH8nGsrbg8tulBS6I"
GALLERY_ADMIN_PASSPHRASE_HASH = "4588fa2d056c6556c4e841bb3bb22834:3ed601034c470ee02ad7897385115d2899cec3a32025955c6b542f9714af17a79c805366e953dd978046a74030c38f5b8801aff748c50e29a6109f619c3596d4"
  