modules = ["nodejs-24", "postgresql-16"]

  [[artifacts]]
  id = "artifacts/jctm-platform"

  [[artifacts]]
  id = "artifacts/api-server"

  [[artifacts]]
  id = "artifacts/mockup-sandbox"

  [deployment]
  router = "application"
  deploymentTarget = "autoscale"

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

  [workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/jctm-platform run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

  [agent]
  stack = "PNPM_WORKSPACE"
expertMode = true

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

  [nix]
  channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNFsWPaSN3hKiDjWa1RrYaWFoaiuYdQuDq8SueByYlaSuGcTr12lKzDJaoL584jXRptTLbxBSrs_vPsY9lMpSY8"
VAPID_PRIVATE_KEY = "da55-4msNNm4kgmaAOhh-hj-rwbH8nGsrbg8tulBS6I"
  